 <!-- Page Header -->
<header class="title-header" alt="" title="">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>$title$</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                $body$
                <hr>
            </div>
        </div>
    </div>
</article>
