<header class="title-header" alt="" title="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>Talks</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        $for(talks)$
        <p><b>$conf$ $year$</b>$if(slides)$ - <a href ="$slides$">Slides</a></p>$endif$
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="$video$" allowfullscreen></iframe>
        </div>
        $sep$
        <hr>
        $endfor$
        <hr>
      </div>
    </div>
  </div>
</article>
