<header class="title-header" alt="" title="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>Writings</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>
          This page lists various writings from Gitter, Reddit or Github, in their raw form.
          Although some of them will eventually become proper posts, you are going to miss out on a lot of content if you don't check them out.
        </p>
        <ul>
          $for(writings)$
          <li><a href ="$link$">$title$</a></li>
          $endfor$
          <ul
        <hr>
      </div>
    </div>
  </div>
</article>
