<header class="title-header" alt="" title="">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>Writings</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>
          This page contains raw writings from various sources, such
          as Gitter, Reddit, Github, or Discord. Most recent come
          first, and, time permitting, they might become proper posts
          eventually.
        </p>
        <p>
          Note that unfortunately Discord links require an account for
          viewing, and that Gitter links are currently broken (I'm in
          the process of recovering them).
        </p>
        <ul>
          $for(writings)$
          <li><a href ="$link$">$title$</a></li>
          $endfor$
          <ul
        <hr>
      </div>
    </div>
  </div>
</article>
